* {
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #828282;
  color: #212529;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:disabled {
  color: white;
  background: #828282;
  cursor: not-allowed;
}

#game-start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background: url('../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#game-start {
  width: 300px;
  margin-top: 15px;
}

/* 게임 컨텐츠 화면 */
#game-board {
  display: none;
}

#game-board > header {
  display: flex;
  padding: 15px;
}

#game-board > header > div {
  margin-left: auto;
}

/* 캐릭터 vs 컨테이너 화면 */
.content {
  justify-content: center;
  display: flex;
  min-width: 670px;
}

.versus {
  display: flex;
  align-items: center;
}

.versus > span {
  margin: 0 15px;
}

.versus-result {
  display: none;
}

.versus-result > img {
  display: block;
  width: 320px;
  height: 320px;
}

.battle-img {
  width: 300px;
  height: 300px;
}

.btn-restart {
  width: 320px;
  margin-top: 15px;
}

#history-wrapper {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  flex: none;
}

#history-wrapper > h4 {
  padding: 15px;
}

#history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.history-row {
  display: flex;
}

.history-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 10px;
}

.history-img {
  width: 40px;
  height: 40px;
}

.history-name {
  color: #898989;
  font-size: 13px;
  margin-top: 5px;
}